{% extends 'layout.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light border-0 shadow-sm p-4">
                <h5 class="card-title text-center">What is Ripple and Why am I Using It?</h5>
                <p class="card-text">
                   Hey, I'm Flora 😄 I created Ripple because I believe there is sometimes a disconnect between dorm parents, prefects, and boarding students. 💔
                   This is an app where you can log your mood anonymously, and dorm parents will be able to see the general vibe of their dorm every night, with analytics 📈
                </p>
                <p class="card-text">
                    If you are a dorm parent or prefect, please login to see the data of your dorm. If you are a student, please register your name and dorm. Thanks for participating!
                </p>
                <p class="text-muted small text-center">Need help? Reach out to me @flora_adair@cate.org. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
